In [1]:
#user define func
def func_name():
    print('User-define function')
    print('Congratulation')

In [2]:
func_name() ## calling function

User-define function
Congratulation

In [1]:
# paramaterized func
def hello(name,age): ## take arguments
    print(f'Your name is: {name}')
    print(f'you are  {age} yaers old.')

In [2]:
hello('fahad',27) ## give paramatrized

Your name is: fahad
you are  27 yaers old.

In [6]:
# Retun type function
def call_me(name):
    return f'How are you {name}'

In [7]:
greet=call_me('Fahad ')

In [12]:
print(greet)
for i in range(10):
    print(f'{i}- {greet}')
    i=i+1

How are you Fahad
0- How are you Fahad
1- How are you Fahad
2- How are you Fahad
3- How are you Fahad
4- How are you Fahad
5- How are you Fahad
6- How are you Fahad
7- How are you Fahad
8- How are you Fahad
9- How are you Fahad

In [13]:

# stricket type reuired in arguments

def greething(name:str,age:int):
    print(f'Hey {name}, you are {age} old')

In [16]:
greething('fahad',34.5)

Hey fahad, you are 34.5 old

In [5]:
# isinstance use to check condition 
def create_account(username, age, balance):
    if not isinstance(username, str):
        raise TypeError("Username must be a string")
    if not isinstance(age, int):
        raise TypeError("Age must be an integer")
    if not isinstance(balance, float):
        raise TypeError("Balance must be a float")

    print(f"Account created for {username} with balance {balance}")


# ❌ Wrong - This will raise an error

In [6]:

# ✅ Correct
create_account("Fahad", 25, 1000.50)

Account created for Fahad with balance 1000.5

In [7]:
create_account("Fahad", "25", 1000)

TypeError: Age must be an integer

In [8]:

#Default paramerters func
def sum(a=10,b=20):# Default parameters
    x=a+b
    return x

In [9]:
sum()

30

In [10]:
sum(3,2)

5

In [14]:
##Postitional Arguments
def sum2(a,b): ## 
    print('a=',a)
    print('b=',b)

In [15]:
sum2(22,24)

a= 22
b= 24

In [16]:
sum2(a=10,b=33) #Keyword Arguments

a= 10
b= 33

In [20]:
#astrick func sum all arugements
def sum(*a ): ## return tuple if we give * before oprand
    summation=0
    for i in a:
        summation=summation+a
    return summation

In [21]:
sum(10,45)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [19]:
sum(45,66,77,88,99)

(45, 66, 77, 88, 99)

In [22]:
##accept all ky lie func ma argu ky sat ** lgta han

In [34]:
#Recusive func
def nam(a):
    print('---------')
    nam(a)

In [33]:
nam()

TypeError: nam() missing 1 required positional argument: 'a'