In [8]:
print('My name is Fahad')

My name is Fahad

In [25]:
x=10
y=33
type(x)
print(x+y)
print(x+y)
print(x+y)
print("HELLO")
name='Asghar'
#accessing character of string name
print(name[1])
#backward accesseing
print(name[-1])
name[-1]

43
43
43
HELLO
s
r

'a'

In [9]:
print("AGE")

AGE

In [52]:
#Slicing
name='Fahad Ali'
name[0:5]

#Skipping char 1 by default its jumps 1 Step parameter
name[0:5:2]

# end tk aya ga
name[-4:]

#Reverse dirction not allowd
name[-1:-6]

''

In [67]:
#Methods
print('Length of string...',len(name))

#upper func call only with string
name.upper()

#capitalize
name.capitalize()

print(name)

Length of string... 9
Fahad Ali

In [78]:
#Sipliting
name.split('a')

['F', 'h', 'd Ali']

In [75]:

#joining pices of above sipliter
words=name.split('a')
'a'.join(words)

'Fahad Ali'